p { font-family: Arial, Courier, 'Franklin Gothic Book', sans-serif }

h2,h3 {font-family: Tahoma, Geneva, sans-serif;
	font-variant: small-caps}

.contentf {
	background: #ddd;
}

.contentf div {
	margin: 5px;
}

#row {
   height: 1%; overflow: hidden;
   border-color: #BDBDBD;
}
#rowSearch {

   width: 100%;
   height: 1%; overflow: hidden;
   border-color: #BDBDBD;

}
#titelresultaten {
   border-color: #BDBDBD;
}

#pleasewait {  
    width:300px;
    margin:auto;
    left:50%;  
    background-color: transparent;  
    padding:7px 0 0 0;  
    font:bold 11px Arial, Helvetica, sans-serif;  
}

.SearchHeader {

	  font-weight: 500;
	  color: #000000;
	  background-color: #CCCCCC;
	  text-align: center;
	  height: 35px;
}

.box_text {
  text-align: left;
font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#SearchBox {
	width: 600px;
	height: 1%; overflow: hidden; 
 
	border: solid gray 1px;
	padding: 20px;
	margin-right: 20px;
	margin-left: 10%;
   }


#resultaten{

}

#sourceName {
  width: 60%;
  height: auto;
clear: left;
}

.numberInSources {
font-size: 200%;
float: left;
width: 30%;
}

.numberCited {
color: green;
}

.numberNotCited {
color: red;
}

.error {
width: 30%;
float: left;
color: red;
}
#details {
float: left;
width: 10%;
}


#pmidHead {  float:left; width:10%; margin:2px; font-variant: small-caps; background-color: lightgrey; 
}

#pubmedTitleHead { float:left; width:30%; margin:2px; font-variant: small-caps;background-color: lightgrey;
}

#pubmedAuthorsHead { float:left; width:20%;  margin:2px; font-variant: small-caps;background-color: lightgrey;
}

#pubmedJournalHead { float:left; width:20%;  margin:2px; font-variant: small-caps;background-color: lightgrey;
}

#pubmedYearHead { float:left; width:10%;  margin:2px; font-variant: small-caps;background-color: lightgrey;
}

#pubmedButtonHead { float:right; width:7%;  margin:2px; font-variant: small-caps;background-color: lightgrey;
}

#pmidResult { clear: left;float:left; font-size:0.5em; width:10%; margin:2px; font-variant: small-caps;
}

#pubmedTitle { float:left; width:30%; margin:2px; font-variant: small-caps;
}

#pubmedAuthors { float:left; width:20%;  margin:2px; font-style: italic;
}

#pubmedJournal { float:left; width:20%;  margin:2px; font-style: oublique;
}

#pubmedYear { float:left; width:10%;  margin:2px; font-style: oublique;
}

#citedinSubmitPubmedForm { float:right; width:7%;  margin:2px; font-style: oublique;
}

input[type=text]
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351
}

.submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
}

#aggregatedResults
{
	border: solid gray 1px;
}
}
